* {
  color: #eee;
  background-color: #111;
}

.container {
  max-width: 500px;
  padding: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0.5rem;
}

form input {
  display: block;
  height: 26px;
  border-radius: 7px;
  border: solid 1px #bbb;
  padding: 5px;
}

form label {
  font-weight: inherit;
}

button {
  display: block;
  color: #eee;
}

select {
  color: #333;
}

.score {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

.correct-score {
  /*float: left;*/
  margin: 0.2rem;
}

.incorrect-score {
  /*float: right;*/
  margin: 0.2rem;
  position: relative;
  left: 18.0rem;
}

.card {
  font-size: 10.0rem;
  text-align: center;
  margin: -1.0rem 0;
}

#trackpad {
  text-align: center;
  height: 22.0rem;
}

#trackpad p {
  margin: 0;
}

.messages {
  margin-top: -1.5rem;
}

ul.answers {
  list-style: none;
  text-align: center;
}

ul.answers li {
  cursor: pointer;
  height: 2.8rem;
} 

ul.answers li:hover{
  opacity: 0.8;
}

span.arrow {
  color: #1EAEDB;
  font-weight: bold;
  font-size: 2.8rem;
}

.neither {
  color: #1EAEDB;
}

.right {
  color: greenYellow;
}

.wrong {
  color: red;
}