* {
  color: #eee;
  background-color: #111;
}

.invisible {
  color: #111;
}

.container {
  max-width: 500px;
  padding: 10px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 20px;
}

form input {
  display: block;
  height: 26px;
  border-radius: 7px;
  border: solid 1px #bbb;
  padding: 5px;
}

form label {
  font-weight: inherit;
}

button {
  display: block;
  color: #eee;
}

select {
  color: #333;
}

.giant {
  font-size: 14.0rem;
  margin: 10px;
  text-align: center;
}

p.top-row, p.middle-row, p.bottom-row {
  text-overflow: clip; 
  padding: 10px;
  text-align: center;
}

span.answer {
  display:block;
  width:inherit;
  line-height: 16px;
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #bbb;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
}

.info {
  font-size: 20px;
  text-align: center;
}

.n-a {
  color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}