<div ng-controller="UsersController">

  <form class="pure-form" ng-hide="isLoggedIn()" ng-submit="login()">
    <input name="username" placeholder="Username" ng-model="user.username">
    <input name="password" placeholder="Password" ng-model="user.password">
    <button class="pure-button" >Log In</button>
  </form>

  <h5>Not signed up? Join today!</h5>
  <form class="pure-form" ng-hide="isLoggedIn()" ng-submit="register()">
    <input name="username" placeholder="Username" ng-model="user.username">
    <input name="email" placeholder="Email" ng-model="user.email">
    <input name="password" placeholder="Password" ng-model="user.password">
    <button class="pure-button" >Register</button>
  </form>

  <button class="pure-button" ng-show="isLoggedIn()" ng-click="logout()">Log Out</button>

</div>