<div ng-controller ="GameController">

  <p>Correct: {{ correct }}</p>
  <p>Incorrect: {{ incorrect }}</p>

  <p class="message" ng-class="isCorrect" ng-model="message">{{ message }}</p>

  <p>Select the correct {{ asking }}</p>

  <p class="giant">{{ selectedCharacter.String }}</p>

  <div ng-hide="showingAnswer">
    <p class="top-row">
      <span class="answer" ng-click="choose(answers[0])">{{ answers[0] }}</span>
    </p>
    <p class="middle-row">
      <span class="answer" ng-click="choose(answers[1])">{{ answers[1] }}</span>
      <span class="answer" ng-click="choose(answers[2])">{{ answers[2] }}</span>
    </p>
    <p class="bottom-row">
      <span class="answer" ng-click="choose(answers[3])">{{ answers[3] }}</span>
    </p>
  </div>

  <div ng-show="showingAnswer">
    <p>{{ selectedCharacter.kMandarin }}</p>
    <p>{{ selectedCharacter.kDefinition }}</p>
  </div>

</div>
