<div ng-controller ="GameController">

  <p>Correct: {{ correct }}</p>
  <p>Incorrect: {{ incorrect }}</p>

  <p ng-show="message" class="info" ng-class="isCorrect">{{ message }}</p>

  <p ng-hide="message" class="info">Select the correct {{ asking }}</p>

  <p class="giant">{{ selectedCharacter.String }}</p>

  <div ng-hide="showingAnswer">
    <p class="row top-row">
      <span class="three columns invisible">.</span>
      <span class="six columns answer" ng-click="choose(answers[0])">{{ answers[0] }}</span>
      <span class="three columns invisible">.</span>
    </p>
    <p class="row middle-row">
      <span class="six columns answer" ng-click="choose(answers[1])">{{ answers[1] }}</span>
      <span class="six columns answer" ng-click="choose(answers[2])">{{ answers[2] }}</span>
    </p>
    <p class="row bottom-row">
      <span class="three columns invisible">.</span>
      <span class="six columns answer" ng-click="choose(answers[3])">{{ answers[3] }}</span>
      <span class="three columns invisible">.</span>
    </p>
  </div>

  <div ng-show="showingAnswer">
    <p>{{ selectedCharacter.kMandarin.split(" ")[0].toLowerCase() }}</p>
    <p>{{ selectedCharacter.kDefinition }}</p>
  </div>

</div>
