<div ng-controller ="GameController">

  <div class="score">
    <span class="correct-score right">Right: {{ right }}</span>
    <span class="incorrect-score wrong">Wrong: {{ wrong }}</span>
  </div>

  <ul class="answers">
  <li ng-click="choose(answers[0])">
    <span class="arrow">▲</span>
    {{ answers[0] }}
  </li>

  <li ng-click="choose(answers[1])">
    <span class="arrow">◀</span>
    {{ answers[1] }}
  </li>

  <li ng-click="choose(answers[2])">
    <span class="arrow">▶</span>
    {{ answers[2] }}
  </li>

  <li ng-click="choose(answers[3])">
    <span class="arrow">▼</span>
    {{ answers[3] }}
  </li>

  <div id="trackpad"
    ng-swipe-left="swipeLeft()"
    ng-swipe-right="swipeRight()"
    ng-swipe-up="swipeUp()"
    ng-swipe-down="swipeDown()"
  >
    <p class="card">{{ selectedCharacter.String }}</p>
    <p ng-show="message" ng-class="rightOrWrong">{{ message }}</p>
    <p ng-show="showingAnswer">{{ correctPinyin }}: {{ selectedCharacter.kDefinition }}</p>
  </div>

</div>
