<div ng-controller ="GameController">

  <p class="correct-score right">Right: {{ right }}</p>
  <p class="incorrect-score wrong">Wrong: {{ wrong }}</p>

  <p class="card">{{ selectedCharacter.String }}</p>

  <ul class="answers">
  <li ng-click="choose(answers[0])">
    <span class="arrow">▲</span>
    {{ answers[0] }}
  </li>

  <li ng-click="choose(answers[1])">
    <span class="arrow">◀</span>
    {{ answers[1] }}
  </li>

  <li ng-click="choose(answers[2])">
    <span class="arrow">▶</span>
    {{ answers[2] }}
  </li>

  <li ng-click="choose(answers[3])">
    <span class="arrow">▼</span>
    {{ answers[3] }}
  </li>

  <div id="trackpad">
    <p ng-show="message" ng-class="rightOrWrong">{{ message }}</p>
    <p ng-show="showingAnswer">{{ correctPinyin }}: {{ selectedCharacter.kDefinition }}</p>
  </div>

</div>
